.incBtn{
    margin-right: 10px;
}
.secondaryHeading{
    color: red;
}
.isRed{
 background-color: rgba(255, 0, 0, 0.164);
}
.isBlue{
    background-color: rgba(0, 0, 255, 0.171);
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
